/* --------------------- Global Settings ---------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

/* --------------------- Navbar --------------------- */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: teal;
  color: white;
  padding: 10px 30px;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #f2a900;
}

.user-links {
  display: flex;
  gap: 20px;
}

.logout-btn {
  outline: none;
  cursor: pointer;
  border: none;
}

/* Mobile responsive */
@media (max-width: 540px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-logo {
    margin-bottom: 20px;
  }
}
